{% extends 'index.html' %}

<!-- {% block title %}Reset your password{% endblock %} -->

{% block content%}

  <div class="row mt-auto" style="padding-top:10PX">

    <div class="col-4">

    </div>

    <div class="col-12 col-lg-4">

      <div class="card">
        <div class="card-body checkout">
          <h3 class="card-title">Change your password</h3>
          {% if messages %}
            <ul class="messages">
              {% for message in messages %}

              <div class="alert alert-success">
                  <a class="close" href="#" data-dismiss="alert">×</a>

                  {{ message }}

              </div>
              {% endfor %}
            </ul>
          {% endif %}

          <form method="post" novalidate>
            {% csrf_token %}
            <div class="form__group">
              <input type="password" placeholder="Old Password" name="old_password">
            </div>

            <div class="" style="margin-left:7px; margin-top:7px;">
              <p>Password can't be too similar to your other personal info.</p>
              <p>Password must contain at least 8 characters.</p>
              <p>Your password can't be a commonly used password.</p>
              <p>Your password can't be entirely numeric.</p>
            </div>
            <div class="form__group">
              <input type="password" placeholder="New Password" name="new_password1">
            </div>
            <div class="form__group">
              <input type="password" placeholder="Confirm Password" name="new_password2">
            </div>
            <button type="submit" class="form__btn">Change</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content%}
