{% extends 'index.html' %}

{% block title %}Change password successful{% endblock %}

{% block breadcrumb %}
<h3>Password Change Was Successful</h3>
{% endblock %}

{% block content %}
  <div class="alert alert-success" role="alert">
    <strong>Success!</strong> Your password has been changed!
  </div>

  <br> <br> <br>   <br> <br> <br>
<div class=" m-2">
    <a href="{% url 'showroom_admin:dashboard' %}" class="btn btn-secondary text-center ">Return to home page</a>
</div>
    <br> <br> <br>
{% endblock %}
