{% extends 'core/index.html' %}
{% load bootstrap3 %}
<!-- {% block title %}Reset your password{% endblock %} -->

{% block content%}

  <div class="row mt-auto" style="padding-top:100PX">

    <div class="col-4">

    </div>

    <div class="col-12 col-lg-4">

      <div class="card">
        <div class="card-body checkout">
          {% if validlink %}
            <h3 class="card-title">Change password for @{{ form.user.username }}</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% bootstrap_form form %}
              <button type="submit" class="form__btn">Change password</button>
            </form>
          {% else %}
            <h3 class="card-title">Reset your password</h3>
            <div class="alert alert-danger" role="alert">
              It looks like you clicked on an invalid password reset link. Please try again.
            </div>
            <a href="{% url 'password_reset' %}" class="form__btn">Request a new password reset link</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock content%}
